/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "alibaba";
    /* font-weight: 600; */
    src: url("//at.alicdn.com/wf/webfont/JbRVouvyYZbg/FslwWk7u9D_ywHzRQyTDF.woff2") format("woff2"),
        url("//at.alicdn.com/wf/webfont/JbRVouvyYZbg/jdB0Lw-Ib_lcZLnFPVzH0.woff") format("woff");
    font-display: swap;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #485157;
}

img {
    display: block;
    width: 100%;
}

ul {}

li {
    list-style: none;
}

input {
    background: none;
    outline: none;
    border: none;
}

html,
body {
    width: 100%;
    min-width: 1200px;
    font-family: PingFangSC-Regular, PingFang SC;
}

.container {
    width: 100%;
    background-color: #fff;
}

.view {
    position: relative;
}

.v4_bg {
    background: url(kadebao1f927b4cee1044a9d0fe.png) no-repeat center;
    background-size: 100% 100%;
}

.v5_bg {
    background: url(kadebaod7bf4dac905be2f58d72.png) no-repeat center;
    background-size: 100% 100%;
}

.v7_bg {
    background: url(kadebao490401e8ebcdf6cf95a2.png) no-repeat center;
    background-size: 100% 100%;
}

.v8_bg {
    background: url(kadebao88fc6de6fc873a2e598a.png) no-repeat center;
    background-size: 100% 100%;
}

.view_center {
    width: 1200px;
    margin: 0 auto;
}

.header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_right {
    display: flex;
}

.logo {
    width: 260px;
    height: 64px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #485157;
    cursor: pointer;
    position: relative;
}

.nav li {
    padding: 0 20px;
}

.nav .nav_select {
    height: 2px;
    width: 40px;
    background-color: #D51E21;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(16px);
}

.comments {
    width: 107px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d51e21;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    position: relative;
}

/* .btn-hover-qrcode {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
} */

.marginLeft20px {
    margin-right: 0 !important;
    margin-left: 20px;
}

/* view_1 */
.viewBg_1 {
    width: 100%;
    height: 580px;
}

.content {
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    display: flex;
    align-items: center;
    width: 1200px;
    transform: translateX(-50%);
}

.view_1_left {}

.vl_1 {
    font-size: 40px;
    color: #D51E21;
    font-family: alibaba;
}

.vl_2 {
    font-size: 58px;
    color: #fff;
    font-weight: bold;
    font-family: alibaba;
}

.vl_3 {
    font-size: 24px;
    color: #fff;
    margin: 12px 0 52px;
}

/* v2 */
.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 88px;
    background-color: #000;
}

.query_card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.query_title {
    width: 141px;
    height: 56px;
    background-color: #D51E21;
    font-size: 16px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.08);
    border-radius: 3px 0px 0px 3px;
}

.query_input {
    width: 680px;
    height: 56px;
    padding: 0 24px 0;
    font-size: 16px;
    color: #666E76;
    background-color: #fff;
}

.search {
    height: 56px;
    width: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D51E21;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.08);
    border-radius: 0px 3px 3px 0px;
}

.search_icon {
    width: 32px;
}

/* v3 */
.view_3_title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 80px;
}

.v3_cn {
    font-size: 30px;
    line-height: 30px;
    color: #3D4756;
    font-weight: bold;
    position: relative;
}

.v3_cn .title-after {
    color: #D51E21;
}

.v3_en {
    color: #8D9094;
    font-size: 18px;
    line-height: 18px;
    margin-top: 20px;
}

.v3_title_posi {
    font-size: 12px;
    color: #fff !important;
    width: 56px;
    height: 19px;
    background: linear-gradient(285deg, #FD932B 0%, #D51E21 100%);
    border-radius: 8px 0px 8px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.characteristics {
    width: 1200px;
    margin: 44px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}

.characteristics li {
    width: 282px;
    text-align: center;
    padding: 32px 38px 40px;
    border: 1px solid #EEF0F2;
    border-radius: 3px;
    transition-duration: 0.5s;
}

.characteristics li:hover {
    border: 1px solid transparent;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.08);
}

.characteristics img {
    width: 40px;
    margin: 0 auto 16px;
}

.characteristics li div:nth-child(2) {
    font-size: 18px;
    color: #3D4756;
}

.characteristics li div:nth-child(3) {
    font-size: 14px;
    color: #8D9094;
}

.characteristics li div:nth-child(4) {
    font-size: 16px;
    color: #666E76;
    line-height: 28px;
    margin-top: 18px;
}

/* v4 */
.v4_content {
    height: 100%;
    width: 1200px;
    /* position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    margin: 0 auto;
    padding: 80px 0;
}

.v4_content_1{
    padding-top: 35px;
    height: 100%;
    width: 1200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    height: 180px;
}


.uniqueness {
    margin-top: 44px;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.uniqueness_left {
    position: relative;
}

.uniqueness_left li {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    position: relative;
    cursor: pointer;
}

.uniqueness_left::after {
    content: '';
    display: block;
    width: 1px;
    height: 354px;
    border-left: 1px dashed #D7D7D7;
    position: absolute;
    top: 70px;
    left: 133.5px;
}

.uniqueness_title {
    width: 125px;
    transition-duration: 0.5s;
}

.uniqueness_title div:nth-child(1) {
    font-size: 18px;
    color: #3D4756;
    font-weight: bold;
}

.uniqueness_title div:nth-child(2) {
    font-size: 12px;
    color: #8D9094;
    margin-top: 2px;
}

.uniqueness_desc {
    font-size: 14px;
    color: #666E76;
    line-height: 24px;
    position: relative;
    background-color: #fff;
    padding: 12px 0 0 24px;
    border-radius: 3px;
    width: 298px;
    height: 150px;
    transition-duration: 0.3s;
    box-shadow: 8px 8px 12px 0px transparent;
}

.uniqueness_desc div:nth-child(1) {
    color: #3D4756;
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: bold;
    transition-duration: 0.3s;
}

.uniqueness_desc::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: -12px;
    margin-top: -6px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid transparent;
    border-right: 6px solid #fff;
}

.circle {
    width: 18px;
    height: 18px;
    margin: 0 16px 0 0;
    border-radius: 50%;
    position: relative;
    transition-duration: 0.3s;
}

.max_circle {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    border-radius: 50%;
    transition-duration: 0.3s;
}

.min_circle {
    width: 9px;
    height: 9px;
    background-color: #D8D8D8;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    transition-duration: 0.3s;
}

.selectUniqueness .uniqueness_title div:nth-child(1) {
    color: #D51E21;
}

.selectUniqueness .uniqueness_desc {
    border: 1px solid #EEF0F2;
    box-shadow: 8px 8px 12px 0px rgba(0, 0, 0, 0.1);
}

.selectUniqueness .uniqueness_desc div:nth-child(1) {
    color: #D51E21;
}

.selectUniqueness .max_circle {
    background-color: #D51E21;
    opacity: 0.08;
}

.selectUniqueness .min_circle {
    background-color: #D51E21 !important;
}

.uniqueness_right {
    flex: 1;
    margin-left: 90px;
    position: relative;
    height: 100%;
}

.u_right_cont_posi {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 99;
    display: none;
}

.u_right_cont {
    padding-top: 10px;
    width: 158px;
    height: 72%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.u_right_cont_title {
    width: 145px;
    height: 24px;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    background: linear-gradient(285deg, #FD932B 0%, #D51E21 100%);
    border-radius: 0px 12px 12px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 13px;
    margin-bottom: 12px;
}

.u_right_cont_title .u_right_cont_num {
    content: '1';
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -13px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
    border-radius: 50%;
    background-color: #D51E21;
    border: 1px solid #fff;
}

.u_right_cont_text {
    font-size: 14px;
    color: #666E76;
    line-height: 24px;
}

.u_right_cont_img {
    width: 545px;
    margin: 0 auto;
    /* width: 545px; */
    /* position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 999;
    transform: translateX(-50%); */
}

.u_right_cont_icon {
    width: 100%;
}

.u_right_cont_4 {
    width: 190px;
    position: absolute;
    top: 125px;
    right: 0;
}

.v4_check_ani {
    display: none;
}

/* v5 */
.v5_leader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 18px;
}

.v5_leader_box {
    width: 282px;
    height: 216px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.v5_header_img {
    width: 64px;
}

.v5_leader_title {
    font-size: 18px;
    color: #fff;
    margin: 11px 0 9px 0;
    line-height: 24px;
    font-weight: bold;
}

.v5_leader_cont {
    font-size: 14px;
    color: #fff;
    line-height: 28px;
}

/* v6 */
.v6_content {
    width: 1200px;
    margin: 80px auto 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.feedback_info {
    text-align: center;
}

.v6_avatar {
    width: 80px;
    margin: 44px auto 16px;
}

.feedback_name {
    font-size: 16px;
    color: #26323C;
}

.feedback_age {
    font-size: 14px;
    color: #D51E21;
    margin: 12px auto 32px;
    width: 116px;
    height: 32px;
    border-radius: 16px;
    border: 1px solid #D51E21;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedback_common {
    font-size: 18px;
    color: #26323C;
}

#feedback {
    width: 100%;
}

/* swiper prev next */
.swiper-button-prev {
    width: 64px !important;
    height: 64px !important;
    background: #FFFFFF !important;
    box-shadow: 0px 2px 6px 0px rgba(38, 49, 60, 0.1);
    border-radius: 50%;
    margin-top: -150px !important;
    position: relative;
}

.swiper-button-next {
    width: 64px !important;
    height: 64px !important;
    background: #FFFFFF !important;
    box-shadow: 0px 2px 6px 0px rgba(38, 49, 60, 0.1);
    border-radius: 50%;
    position: relative;
    margin-top: -150px !important;
}

.v6_prev {
    width: 24px;
    height: 24px;
    border-left: 3px solid #D51E21;
    border-top: 3px solid #D51E21;
    transform: rotate(-45deg);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -6px;
}

.v6_next {
    width: 24px;
    height: 24px;
    border-right: 3px solid #D51E21;
    border-bottom: 3px solid #D51E21;
    transform: rotate(-45deg);
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: -12px;
    margin-right: -6px;
}

/* swiper 分页器 */
.swiper-pagination {
    position: relative !important;
    margin-top: 100px;
}

.swiper-pagination-bullet {
    width: 6px !important;
    height: 6px !important;
    border-radius: 50% !important;
    background: #333 !important;
    margin: 0 3px 0;
}

.swiper-pagination-bullet-active {
    width: 18px !important;
    height: 6px !important;
    border-radius: 3px !important;
    background: #D51E21 !important;
    margin: 0 3px 0;
}

/* v7 */
.v7_gradable {
    width: 1200px;
    margin-top: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lookMore {
    font-size: 16px;
    color: #D51E21;
    margin-top: 44px;
    /* margin-bottom: 70px; */
    text-align: center;
    font-weight: bold;
}

.v7_gradable_box {
    width: 253px;
    height: 100px;
    background: linear-gradient(135deg, #22242E 0%, #30323D 100%);
    border-radius: 3px 3px 0px 0px;
    padding: 12px;
}

.v7_gradable_title {
    font-size: 12px;
    color: #000000;
    background: linear-gradient(90deg, #E2AE76 0%, #F7E1CC 100%);
    border-radius: 2px;
    display: inline-block;
    padding: 0 4px;
    line-height: 16px;
}

.v7_gradable_desc {
    font-size: 16px;
    color: #D8B489;
    font-weight: bold;
    margin: 8px 0 7px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.v7_gradable_years {
    font-size: 14px;
    color: #D6B489;
}

.v7_gradable_box2 {
    width: 253px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 0px 3px;
    position: relative;
    padding: 12px;
}

.v7_itembg_dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 229px;
    height: 371px;
    transform: translate(-50%, -50%);
}

.titleUrl {
    position: absolute;
    top: 15px;
    left: 58px;
    width: 152px;
    height: 55px;
}

.photoUrl {
    position: absolute;
    top: 86px;
    left: 21px;
    width: 186px;
    height: 264px;
}

/* v8 */
.v8_text {
    font-size: 32px;
    color: #fff;
    text-align: center;
    margin-bottom: 29px;
    display: flex;
    align-items: center;
}

.quotes {
    width: 32px;
    margin-right: 23px;
}

/* v9 */
.v9 {
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.v9_content {
    width: 1200px;
    height: 264px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.v9_head {
    margin-bottom: 40px;
}

.v9_title {
    font-size: 16px;
    color: #D51E21;
    margin-bottom: 11px;
}

.v9_list {
    display: flex;
    align-items: center;
}

.v9_list li,
.v9_list li a {
    margin-right: 30px;
    font-size: 14px;
    color: #fff;
}

.v9_list_right {
    margin-right: 130px !important;
}

.v9_service {
    position: relative;
    cursor: pointer;
    text-decoration-line: underline;
}

.service_qrcode {
    width: 101px;
    height: 101px;
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
    top: -110px;
    left: -7px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.beforeHidden::before {
    display: none !important;
}

.service_qrcode::before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: -12px;
    margin-left: -6px;
    border-top: 6px solid #fff;
    border-bottom: 6px solid transparent;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

.service_qrcode img {
    width: 80px;
    margin: 10px;
}

.v9_right_qrcode {
    display: flex;
    align-items: center;
}

.v9_qrcode {
    width: 101px;
    height: 101px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.gradable_qrcode {
    position: absolute;
    bottom: 47px;
    right: 2px;
    display: none;
    z-index: 2;
}

.v9_marginRight16 {
    margin-right: 16px;
}

.v9_qrcode img {
    width: 80px;
}

.v9_qrcode_text {
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin-top: 11px;
    line-height: 30px;
}

/* v10 */
.v10 {
    font-size: 12px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    background-color: #000;
    flex-direction: column;
    padding-bottom: 40px;
}

.v10-1 {
    font-size: 12px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    background-color: #000;
}

.v10 img {
    width: 14px;
    margin-right: 4px;
}

/* float */
.float {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
}

.float_box {
    width: 64px;
    height: 80px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 12px;
    color: #3D4756;
    line-height: 16px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.08);
    position: relative;
    transition: all 0.2s linear;
}

.float_1 {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.float_3 {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.float_1.line1::before {
    content: '';
    display: block;
    width: 40px;
    height: 1px;
    background-color: #eee;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -20px;
}

.float_3.line2::before {
    content: '';
    display: block;
    width: 40px;
    height: 1px;
    background-color: #eee;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -20px;
}

.float_icon {
    width: 20px;
    margin-bottom: 8px;
}

.float_qrcode {
    position: absolute;
    top: 0;
    left: -172px;
    width: 160px;
    background: #fff;
    padding: 16px;
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    display: none;
}

.float_qrcode img {
    width: 128px;
}

.float_qrcode p {
    font-size: 14px;
    color: #000000;
    margin-top: 9px;
    line-height: 24px;
    text-align: center;
}

.jode {
    font-size: 0.6em;
    position: relative;
    top: -0.7em;
    left: 0;
}
.gradable-v4_bg {
    background: url(kadebao19c1d84b54eae76276a7.png) no-repeat center;
    background-size: 100% 100%;
}

/* v1 */
.gradable .v1_content {
    width: 416px;
    margin-right: 63px;
}

.gradable .v1_c_t1 {
    font-size: 58px;
    color: #3D4756;
    font-weight: bold;
    line-height: 80px;
}

.gradable .v1_c_t2 {
    font-size: 24px;
    color: #4B5158;
    line-height: 32px;
}

.v1_line {
    width: 48px;
    height: 3px;
    background-color: #D51E21;
    margin: 26px 0 28px 0;
}

.gradable .v1_img {
    width: 688px;
}

/* v2 */
.gradable_title {
    font-size: 30px;
    color: #3D4756;
    text-align: center;
    margin-bottom: 44px;
}

.view_style {
    width: 1200px;
    padding: 80px 0;
    margin: 0 auto;
}

.v2_content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.v2_cont_1 {
    width: 384px;
    height: 412px;
    position: relative;
}

.v2_cont_c {
    width: 384px;
    height: 412px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.v2_cont_c_1 {
    position: relative;

}

.v2_cont_bg {
    width: 100%;
}

.v2_cont_posi {
    position: absolute;
    top: 0;
    left: 0;
    padding: 32px 24px 0;
}

.v2_cont_title {
    font-size: 18px;
    color: #fff;
    margin-bottom: 16px;
}

.v2_cont_text {
    font-size: 16px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.7);
}

/* v3 */
.view_style_2 {
    width: 1200px;
    padding: 80px 0 48px;
    margin: 0 auto;
}

.v3_content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.v3_item {
    flex: 0 0 32.22%;
    margin-bottom: 32px;
}

.v3_item_head {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 13px 0 9px;
    background-color: #fff;
}

.v3_item:nth-child(1) .v3_item_head,
.v3_item:nth-child(2) .v3_item_head,
.v3_item:nth-child(3) .v3_item_head,
.v3_item:nth-child(4) .v3_item_head {
    background: linear-gradient(180deg, #FFECC6 0%, #ECBB3C 100%);
    border: 1px solid rgba(236, 189, 66, 0.23);
}

.v3_item:nth-child(5) .v3_item_head,
.v3_item:nth-child(6) .v3_item_head {
    background: linear-gradient(180deg, #FDFDFD 0%, #909090 100%);
}

.v3_title_img {
    width: 61px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.v3_title_img img {
    height: 39px;
    width: auto !important;
}

.v3_item_head p {
    font-size: 18px;
    line-height: 30px;
    color: #1F2030;
}

.v3_item_foot {
    height: 224px;
    background-color: #fff;
    padding: 12px 16px 0;
    font-size: 16px;
    color: #41474D;
    line-height: 28px;
    border: 1px solid #EEF0F2;
}

/* v4 */
.gradable-v4 {
    width: 1200px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    padding: 32px 0 24px;
}

.v4_left {
    flex: 0 0 140px;
    width: 140px;
    position: relative;
    height: 100%;
}

.v4_left .v4_img {
    width: 139px;
    position: absolute;
    top: -144px;
    left: 0;
}

.v4_center {
    flex: 0 0 350px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.v4_right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.v4_p1 {
    font-size: 24px;
    color: #fff;
}

.v4_p2 {
    font-size: 14px;
    color: #F3F3F3;
    margin: 9px 0 18px;
}

.v4_p3 {
    font-size: 14px;
    color: #AEAEAE;
    margin-top: 10px;
}

.gradable_comments {
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    width: 107px;
    height: 42px;
    border-radius: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0D1B26;
    position: relative;
    cursor: pointer;
}

.gradable_qrcode {
    position: absolute;
    bottom: 47px;
    right: 2px;
    display: none;
    z-index: 2;
}
